.section{
    width:100%;
    height:12.06rem;
    position: relative;
    padding-top:1px;
    background: #333;
}
.section>.head{
    width:100%;
    height:4.18rem;
    background: #33cccc;
}
.section>.head>.head_box{
    width:1.7rem;
    height:1.7rem;
    border-radius: 50%;
    position: absolute;
    left:0.26rem;
    top:0.58rem;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.section .name>.name_box{
    padding-left:2.55rem;
    width:100%;
    height:3.24rem;
    padding-top:0.87rem;
}
.section .name>.name_box>.v_box{
    margin-top:0.3rem;
    display: flex;
}
.section .name>.name_box>.v_box>p{
    color: #fff;
    font-size:0.22rem;
}
.section .name>.name_box>.v_box>p>span{
    margin-right:0.2rem;
}

.section .name>.name_box>.v_box>.v_left{
    display: flex;
    align-items: center;
    font-size:0.2rem;
    color: #cc0000;
}
.section .name>.name_box>.v_box>.v_left>img{
    display: block;
    width:0.45rem;
    height:0.4rem;
    margin-right:0.1rem;
}
.section .name>.name_box>h4{
    font-size:0.44rem;
    color: #fff;
}

.section .ewm{
    width:1.45rem;
    height:1.45rem;
    background: #33cccc;
    border-radius: 0.15rem;
    box-shadow:0 0 0.1rem 0.01rem rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:0.45rem;
    top:0.57rem;
}
.section .ewm>img{
    display: block;
    width:1.14rem;
    height:1.14rem;
}
.ewm_name{
    font-size:0.22rem;
    text-align: center;
    position: absolute;
    right:0.64rem;
    top:2.2rem;
    color: #fff;
}

.section>.company_name{
    width:7rem;
    height:2.35rem;
    position: absolute;
    top:3.25rem;
    left:0;
    right:0;
    margin:auto;
    background: #fff;
    box-shadow: 0 0 0.1rem 0.01rem rgba(0,0,0,0.2);
    border-radius: 0.2rem;
    padding-top:0.7rem;
}
.section>.company_name>p{
    font-size:0.45rem;
    color: #333;
    text-align: center;
}
.section>.company_name>p:nth-child(2){
    font-size:0.22rem;
    margin-top:0.12rem;
}
.section>.company_name>.box{
    width:0.08rem;
    height:0.45rem;
    background: #fff;
    border-radius: 0.05rem;
    position: absolute;
    top:-0.4rem;
}
.section>.company_name>.box:nth-of-type(1){
    left:1.07rem;
}
.section>.company_name>.box:nth-of-type(2){
    right:1.07rem;
}

.section>ul{
    width:100%;
    height: calc(100% - 4.18rem);
    background: #fff;
    padding-left:1.32rem;
    padding-top:2.1rem;
}
.section>ul>li{
    width:100%;
    height:0.8rem;
    display: flex;
}
.section>ul>li:nth-child(1)~li{
    margin-top:0.57rem;
}

.section>ul>li>.icon{
    width:0.8rem;
    height:0.8rem;
    border-radius: 50%;
    background: #33cccc;
    text-align: center;
    line-height: 0.3rem;
    margin-right:0.42rem;
}
.section>ul>li:nth-child(2)>.icon{
    line-height: 0.4rem;
}
.section>ul>li:nth-child(3)>.icon{
    line-height: 0.88rem;
    font-size:0.34rem;
}
.section>ul>li:nth-child(4)>.icon{
    line-height: 0.4rem;
}
.section>ul>li>.icon>i{
    font-size:0.5rem !important;
    color: #fff;
}
.section>ul>li>.right{
    width: 5rem;
    height: auto;
    font-size:0.24rem;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section>ul>li>.right>p{
    font-weight: 600;
    width:100%;
}
.section>ul>li>.right>p:nth-child(2){
    margin-top:0.16rem;
}
.section ul>li:last-child{
    align-items: stretch;
}
.section ul>li:last-child>.right>p{
    display: flex;
}
.section ul>li:last-child>.right>p>.span{
    display: block;
    width:3.1rem;
    word-break: break-all;
}